
 #section4 {
     width: 100vw;
     margin-bottom: 10%;
 }

 .large_monkey {
     width: 100vw;
     height: auto;
     object-fit: cover;
     display: flex;
     justify-content: center;
     align-items: center;
 }

  #section5 {
      width: 100vw;
      min-height: 60vh;
      background: url("../../assets/lrg/b5279c68f4fd754dcaeef632dacfb462.jpg") no-repeat;
      object-fit: cover;
      background-attachment: fixed;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 10%;
      background-position: center center;
      background-repeat: no-repeat;
      background-size: cover;

  }